<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <system.web>
    <sessionState mode="InProc" timeout="1440"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" cookieless="UseCookies" defaultUrl="~/Default.aspx" loginUrl="~/Account/Login" protection="All" timeout="120"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>    
  </system.web>
  <appSettings>
    <add key="site_url" value="https://hb.payhub.co.kr:461"/>
    <!-- somang 웹서버 DB-->
    <add key="HbDbConnection" value="Data Source=125.141.198.77;Initial Catalog=E_HB_CMS;User Id=hbdb;Password=goqjq!@#2017;enlist=false;"/>
    <!-- 첨부 파일 UPLOAD 관련 (해당 value값만 업로드 가능) -->
    <add key="AcceptFile" value="hwp,doc,ppt,pdf,txt,jpg,gif,docx,pptx,flv"/>
    <!-- 업로드 금지할 파일타입 -->
    <add key="Inhibition" value="application/xml;application/x-msdownload"/>
    <add key="UploadPath" value="D:\WEB\ASP\A___somang.jcccom.co.kr\upload\"/>
    <!-- 업로드 허용할 파일타입 -->
    <add key="UploadImage" value="image/pjpeg;image/jpeg;image/gif;image/x-png;"/>
    <add key="swKey" value="4LjFflzr6z4YSknK"/>
    <add key="ApiUrl" value="https://api.efnc.co.kr:1443" />
    <add key="ApiUrl_view" value="https://view.efnc.co.kr:1443" />
    <add key="ApiUrl_add" value="https://add.efnc.co.kr:1443" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="main.aspx"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>